<div class="allProducts-container">
  <p class="allProducts-title">All Products</p>

  <ng-container *ngIf="!areProductsLoading; else loading">
    <ng-container *ngIf="allProducts$ | async as allProducts">
      <ng-container *ngIf="allProducts.length !== 0; else noData">
        <div class="allProducts-list-header">
          <div class="name">Name</div>
          <div class="brand">Brand</div>
          <div class="price">Price</div>
          <div class="quantity">In Stock</div>
          <div></div>
        </div>

        <ul class="allProducts-list">
          <li
            *ngFor="let product of allProducts"
            class="allProducts-list-item"
          >
            <div class="name" title="{{ product.name }}">{{ product.name }}</div>
            <div class="brand">{{ product.brand }}</div>
            <div class="price">{{ product.price }}</div>
            <div class="quantity">{{ product.in_stock_quantity }}</div>
            <div>
              <button
                class="action-button"
                [disabled]="product.in_stock_quantity === 0"
                [ngClass]="{ 'disabled': product.in_stock_quantity === 0 }"
                (click)="onAddProductToSelectedList(product)"
              >
                Add
              </button>
              <a class="action-button details" [routerLink]="'/products' + '/' + product.id">Details</a>
            </div>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="noData-container">
    There are no products
  </div>
</ng-template>
