:host {
  width: 50%;
}

.allProducts {
  &-container {
    height: 100%;
    padding: 0 2px;
  }

  &-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  &-list {
    padding: 0;

    &-header,
    &-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      & > div {
        flex: 1;
        align-self: center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .actions {
        flex: 1.2;
      }
    }

    &-header {
      background-color: #f0f0f0;
      font-weight: bold;
    }

    &-item {
      border-bottom: 1px solid #eee;

      & .action-button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: darken($color: #3498db, $amount: 10%);
        }

        &.disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        &.details {
          margin-left: 4px;
        }
      }
    }
  }
}

.noData-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 40px);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
