<a routerLink="/products" class="back-link">Back to products</a>

<ng-container *ngIf="!isProductLoading; else loading">
  <ng-container *ngIf="product; else noData">
    <div class="productDetails-container" *ngIf="product">
      <div class="productDetails-image">
        <img src="https://via.placeholder.com/200" alt="{{product.name}}" />
      </div>
      <div class="productDetails-info">
        <h1 class="productDetails-name">{{ product.name }}</h1>
        <h2 class="productDetails-brand">{{ product.brand }}</h2>
        <p class="productDetails-price">{{ product.price }}</p>
        <p class="productDetails-quantity">In stock: {{ product.in_stock_quantity }}</p>
        <div class="productDetails-actions">
          <input type="number" class="productDetails-quantity-input" [(ngModel)]="selectedQuantity" />
          <button
            class="productDetails-add-button"
            [ngClass]="{ 'disabled': selectedQuantity > product.in_stock_quantity || selectedQuantity <= 0 }"
            (click)="onAddToCart(product, selectedQuantity)"
          >
            Add to list
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="noData-container">
    There is no such product
  </div>
</ng-template>
